/*
Bu site Enes Kangal tarafından yapılmıştır.
Bütünü hakları saklıdır.
23.04.2021
İletişim için eneskangal@gmail.com
*/

/* Adobe Font */
@import url("https://use.typekit.net/lmj1bob.css");

$poppins:poppins,sans-serif;
$beyaz:white;

@mixin  border-radius($x) {
    border-radius:$x;
}

/* Header */
.fixed-top{
    max-width: 1140px;
    margin: auto;
}

/* Stickbar Ayarlanması*/
html{
    scroll-behavior: smooth;
}
.fixed-top{
    max-width: 1140px;
    margin: auto;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.fixed-top.change-color{
    max-width: 2000px;
    margin-top: 0;
    background-color: rgba(38, 0, 0, 0.2);
    color: white;
}
.fixed-top.change-fix-top{
    max-width: 2000px;
    margin-top: 0;
    background-color: rgba(38, 43, 219, 1);;
    color: white;
}

.font-ayarı{
    font-style: normal;
    line-height: 1.4;    
}
.navbar-brand{
    color: #42495B;
    @extend .font-ayarı;
    font-family: $poppins;
    font-size: 50px;
    font-weight: bold;
}
.nav-link{
    color: $beyaz!important;
    @extend .font-ayarı;
    font-size: 16px;
    font-weight: medium;
    font-family: $poppins;
    transition: 0.5s;
    &:hover{
        color: black!important;
    }
}

/* Hero */

#hero{
    min-height: 100vh;
    background-image: url(../img/hero-bg\ .png);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: contain;
    .col-md-2{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                a{
                    color: #7E76F9;
                    i{
                        display: block;
                        padding: 20px 0;
                        transition: 0.5s;
                        &:hover{
                            color: #000;
                        }
                    }                    
                }
            }
        }
    }
    h1{
        @extend .font-ayarı;
        color: #42495B;
        font-size: 50px;
        font-family: $poppins;
        font-weight: 600;
    }
    p{
        color: #7A839E;
        @extend .font-ayarı;
        font-size: 16px;
        font-family: $poppins;
        font-weight: 400;
    }
    button{
        width: 200px;
        height: 50px;
        background-color: #7E76F9;
        @include border-radius(25px);
        border: none;
        outline: none;
        box-shadow: 0px 3px 6px 0px rgba(126,118,249,0.29);
        -webkit-box-shadow: 0px 3px 6px 0px rgba(126,118,249,0.29);
        -moz-box-shadow: 0px 3px 6px 0px rgba(126,118,249,0.29);
        transition: 0.5s;
        color: #FFFFFF;
        @extend .font-ayarı;
        font-size: 16px;
        font-family: $poppins;
        font-weight: medium;
        &:hover{
            background-color: #000;            
        }
    }
}

/* responsive */

@media (max-width: 991px) {
    h1{
        font-size: 40px!important;
    }
}