/*
Bu site Enes Kangal tarafından yapılmıştır.
Bütünü hakları saklıdır.
23.04.2021
İletişim için eneskangal@gmail.com
*/

/* Adobe Font */
@import url("https://use.typekit.net/lmj1bob.css");
.font-ayarı{
    font-style: normal;
    line-height: 1.4;   
    font-family: poppins, sans-serif;
}


$beyaz:white;

@mixin  border-radius($x) {
    border-radius:$x;
}

/* Header */
.fixed-top{
    max-width: 1140px;
    margin: auto;
}

/* Stickbar Ayarlanması*/
html{
    scroll-behavior: smooth;
}
.fixed-top{
    max-width: 1140px;
    margin: auto;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.fixed-top.change-color{
    max-width: 2000px;
    margin-top: 0;
    background-color: rgba(38, 0, 0, 0.2);
    color: white;
}
.fixed-top.change-fix-top{
    max-width: 2000px;
    margin-top: 0;
    background-color: rgba(38, 43, 219, 1);;
    color: white;
}
.navbar-brand{
    color: #42495B;
    @extend .font-ayarı;    
    font-size: 50px;
    font-weight: bold;
}
.nav-link{
    color: $beyaz!important;
    @extend .font-ayarı;
    font-size: 16px;
    font-weight: medium;    
    transition: 0.5s;
    &:hover{
        color: black!important;
    }
}

/* Hero */

#hero{
    min-height: 100vh;
    background-image: url(../img/hero-bg\ .png);
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: contain;
    .col-md-2{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                a{
                    color: #7E76F9;
                    i{
                        display: block;
                        padding: 20px 0;
                        transition: 0.5s;
                        &:hover{
                            color: #000;
                        }
                    }                    
                }
            }
        }
    }
    h1{
        @extend .font-ayarı;
        color: #42495B;
        font-size: 50px;        
        font-weight: 600;
    }
    p{
        color: #7A839E;
        @extend .font-ayarı;
        font-size: 16px;        
        font-weight: 400;
    }
    button{
        width: 200px;
        height: 50px;
        background-color: #7E76F9;
        @include border-radius(25px);
        border: none;
        outline: none;
        box-shadow: 0px 3px 6px 0px rgba(126,118,249,0.29);
        -webkit-box-shadow: 0px 3px 6px 0px rgba(126,118,249,0.29);
        -moz-box-shadow: 0px 3px 6px 0px rgba(126,118,249,0.29);
        transition: 0.5s;
        color: #FFFFFF;
        @extend .font-ayarı;
        font-size: 16px;        
        font-weight: medium;
        &:hover{
            background-color: #000;
            box-shadow: none;            
        }
    }
}

/* who */

#who{
    .container{
        .row{
            .col-md-6{
                h6{
                    color: #7E76F9!important;
                    @extend .font-ayarı;
                    font-size: 20px;                   
                    font-weight: 400;
                }
                h2{
                    color: #42495B!important;
                    @extend .font-ayarı;
                    font-size: 50px;
                    font-weight: 600;                    
                }
                p{
                    color: #7A839E;
                    @extend .font-ayarı;
                    font-size: 16px;
                    font-weight: lighter;                    
                }
                button{
                    width: 160px;
                    height: 40px;
                    @include border-radius(25px);
                    background-color: #7E76F9;
                    outline: none;
                    border: none;
                    transition: 0.5s;
                    box-shadow: 0px 3px 6px 0px rgba(126,118,249,0.29);
                    -webkit-box-shadow: 0px 3px 6px 0px rgba(126,118,249,0.29);
                    -moz-box-shadow: 0px 3px 6px 0px rgba(126,118,249,0.29);
                    color: #FFFFFF;
                    @extend .font-ayarı;
                    font-size: 12px;
                    font-weight: 600;                    
                    &:hover{
                        background-color: transparent;
                        border: 1px solid #7E76F9;
                        color: #7E76F9;
                        box-shadow: none;
                    }
                }

            }
        }
    }
}

/* Servicies */

#servicies{
    .container{
        h6{
            @extend .font-ayarı;
            color: #7E76F9;
            font-weight: 400;           
            font-size: 25px;
        }
        h2{
            @extend .font-ayarı;
            color: #42495B;
            font-size: 50px;
            font-weight: 600;          
        }
        .row{
            .col-lg-4{
                .serv-box{
                    width: 100%;
                    height: 460px;
                    background-color: #FFFFFF;
                    @include border-radius(36px);
                    -webkit-box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 0.1);
                    -moz-box-shadow:    10px 0px 20px 0px rgba(0, 0, 0, 0.1);
                    box-shadow:         10px 0px 20px 0px rgba(0, 0, 0, 0.1);
                    padding: 30px;
                    margin: 50px 0;
                    cursor: pointer;                  
                    h4{
                        margin: 30px 0;
                        color: #42495B;
                        @extend .font-ayarı;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    p{
                        color: #42495B;
                        @extend .font-ayarı;
                        font-size: 14px;
                        font-weight: 400;
                    }
                    button{
                        float: right;
                        width: 90px;
                        height: 30px;
                        background-color: #7E76F9;
                        @include border-radius(25px);
                        -webkit-box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.28);
                        -moz-box-shadow:    3px 0px 6px 0px rgba(0, 0, 0, 0.28);
                        box-shadow:         3px 0px 6px 0px rgba(0, 0, 0, 0.28);
                        outline: none;
                        border: none;
                        transition: 0.5s;
                        color: #FFFFFF;
                        @extend .font-ayarı;
                        font-size: 12px;
                        font-weight: 500;
                        &:hover{
                            color: #7E76F9;
                            border: 1px solid #7E76F9;
                            background-color: transparent;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

/* Pricies */

#pricing{
    padding: 50px 0;
    background-color: rgba(#7E76F9, 0.1);
    .container{
        h6{
            @extend .font-ayarı; 
            color: #7E76F9;   
            text-align: center;   
            font-size: 20px;
            font-weight: 400;   
        }
        h2{
            @extend .font-ayarı;
            color: #42495B;
            font-weight: 600;
            font-size: 50px;
            text-align: center;
            margin-bottom: 50px;
        }
        .your-class{           
                width: 100%;
                height: 450px;
                background-color: #FFFFFF;
                @include border-radius(26px); 
                margin-top: 20px;                           
                h4{
                @extend .font-ayarı;
                color: #42495B;
                font-size: 28px;
                font-weight: 400;
                text-align: center;
                margin: 50px 0;
            }
            p{
                @extend .font-ayarı;
                color: #7A839E;
                font-size: 16px;
                font-weight: lighter;
                text-align: center;
            }
            h5{
                @extend .font-ayarı;
                color: #7E76F9;
                font-size: 30px;
                font-weight: 600;
                text-align: center;            
            }
            button{
                width: 170px;
                height: 50px;
                background-color: #FFFFFF;
                border: 1px solid #7E76F9;
                @include border-radius(26px);
                color: #42495B;   
                @extend .font-ayarı;   
                font-size: 16px;
                font-weight: medium;   
                transition: 0.5s; 
                &:hover{
                    background-color: #7E76F9;
                    border: none;
                    color: white;
                }    
            }
        }
    }
}










/* responsive */

@media (max-width: 991px) {
    h1{
        font-size: 40px!important;
    }
}