/*
 Bu site Enes Kangal tarafından yapılmıştır.
 Kopyalanması yasaktır.
 20 Nisan 2021
 İletişim için: eneskangal@gmail.com.
*/

/* adobe font yükleme */
@import url("https://use.typekit.net/xqy8etp.css");

/* variables */
$line-height:1.4;
$normal:normal;
$poppins:poppins, sans-serif;
$siyah:black;
$white:white;
$auto:auto;
$medium:500;
$pointer:pointer;
$px50: 50px;
$center:center;
$none:none;



/* menü ayarlanaması */
header{
    .container{
        nav.fixed-top{
            max-width: 2000px;
            margin: $auto;
            .collapse{
                ul{
                    li{
                        a{
                            font-family: $poppins;
                            font-style: $normal;
                            font-weight: $medium;
                            color: $white;
                            line-height: $line-height;
                            font-size: 16px;
                            transition: 0.5;
                            &:hover{
                                color: $siyah;
                            }
                        }
                    }
                }           
            }
        }
        
    }
}
/* Stickbar Ayarlanması*/
html{
    scroll-behavior: smooth;
}
.fixed-top{
    max-width: 1140px;
    margin: auto;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.fixed-top.change-color{
    max-width: 2000px;
    margin-top: 0;
    background-color: rgba(38, 0, 0, 0.2);
    color: white;
}
.fixed-top.change-fix-top{
    max-width: 2000px;
    margin-top: 0;
    background-color: rgba(38, 43, 219, 1);;
    color: white;
}


/*hero ayarlanaması */
.hero{
    height: 100vh;
    background-image: url(../img/hero-bg.png);
    background-position: center;
    background-size: cover;    
    background-repeat: no-repeat;
    .container{
        .row{
            .col-md-6{
                display: flex;
                align-items: center;
                height: 100vh;
                img{
                    cursor: $pointer;
                }
                #kutu{
                    h1{
                        line-height: $line-height;
                        font-style: $normal;
                        color: $white;
                        font-family: $poppins;                        
                        font-weight: $medium;
                        font-size: $px50;
                    }
                    p{
                        line-height: $line-height;
                        font-style: $normal;
                        color: $white;
                        font-family: $poppins;                        
                        font-weight: 400;
                        font-size: 18px;
                    }
                    button{
                        border: $none;
                        outline: $none;
                        width: 180px;
                        height: 60px;
                        background-color: $white;
                        border-radius: 16px;
                        color: $siyah;
                        font-style: $normal;
                        line-height: $line-height;
                        font-family: $poppins;                        
                        font-weight: $medium;
                        font-size: 20px;
                        transition: 0.5s;
                        &:hover{                           
                            background-color: $siyah;
                            color: $white;                           
                        }
                    }
                    a{
                        color: $white;
                        font-style: $normal;
                        line-break: $line-height;
                        font-family: $poppins;                        
                        font-weight: $medium;
                        font-size: 20px;
                        transition: 0.5s;
                        &:hover{
                            text-decoration: $none;
                            color: $siyah;
                        }
                    }
                }
            }
        }
    }
}

/* Servicies Ayarlanması */
.services{
    padding: 100px 0;
    text-align: $center;
    .container{
        .row{
            .col-xl-4{
                .card2{
                    height: $auto;
                    width: 100%;   
                    background-color: #F6F6F6;
                    border-radius: 16px;    
                    padding: 30px;  
                    margin-top: 30px; 
                    cursor: $pointer;
                    transition: 0.5s;
                    &:hover{
                        background-color: #333697;                                               
                    }
                    &:hover p,h3{                        
                        color: $white;                        
                    }   
                    &:hover h3{                        
                        color: $white;                        
                    } 
                    img{
                        cursor: $pointer;  
                    } 
                    h3{
                        line-height: $line-height;
                        color: $siyah;
                        font-style: $normal;
                        font-family: $poppins;                        
                        font-weight: $medium;
                        font-size: 34px;
                        margin: 15px 0;
                    } 
                    p{
                        color: $siyah;
                        font-style: $normal;
                        line-height: $line-height;
                        font-family: $poppins;                        
                        font-weight: 400;
                        font-size: 14px;
                    }     
                    button{
                        outline: $none;
                        border: $none;
                        width: 200px;
                        height: 60px;
                        border-radius: 16px;
                        color: $siyah;
                        font-style: $normal;
                        line-height: $line-height;
                        font-family: $poppins;                        
                        font-weight: 400;
                        font-size: 14px;
                        transition: 0.5s;
                        &:hover{
                            background-color: $siyah;
                            color: $white;
                        }
                    }
                }
            }
        }
        #services-text{
            h2{
                color: $siyah;
                font-style: $normal;
                line-height: $line-height;
                font-family: $poppins;                        
                font-weight: $medium;
                font-size: $px50;
            }
            p{
                max-width: 800px;
                margin: $auto;
            }
        }       
    }
}


/* About */
#about{
    padding: 100px 0;
    .container{
        h2{
            color: $siyah;
            font-style: $normal;
            line-height: $line-height;
            font-size: $px50;
            font-family: $poppins;
            font-weight: $medium;
            text-align: $center;
        }
        h3{
            color: #241B1B;
            font-style: $normal;
            line-height: $line-height;
            font-size: 20px;
            font-family: $poppins;
            font-weight: 400;
            text-align: $center;
            margin: 15px $auto;
            max-width: 800px;

        }
        .row{
            .col-md-6{
                img{
                    cursor: $pointer;
                }
                p{
                    color: #241B1B;
                    line-height: $line-height;
                    font-style: $normal;
                    font-weight: $medium;
                    font-family: $poppins;
                    font-size: 16px;
                }
                button{
                    width: 250px;
                    height: 60px;
                    border-radius: 16px;
                    border: 1px solid #333697;
                    background-color: $white;
                    transition: 0.5s;
                    color: $siyah;
                    line-height: $line-height;
                    font-style: $normal;
                    font-family: $poppins;
                    font-weight: $medium;
                    font-size: 20px;
                    &:hover{
                        background-color:$siyah;
                        color: $white;
                        border: $none;
                    }
                }
            }
        }
    }
}

/* why */
#why{
    padding: 100px 0;
    background-image: url(../img/why-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    .container{
        .row{
            .col-md-4{
                img{cursor: $pointer;
                }
            }
            .col-md-8{
                h2{
                    color: $white;
                    font-style: $normal;
                    line-height: $line-height;
                    font-family: $poppins;
                    font-size: $px50;
                    font-weight: $medium;
                }
                p{
                    color: $white;
                    font-style: $normal;
                    line-height: $line-height;
                    font-family: $poppins;
                    font-size: 20px;
                    font-weight: 400;
                }
                .row{
                    .col-lg-4{
                        img{
                            cursor: pointer;
                        }
                        .d-flex{
                            h5{
                                color: $white;
                                font-style: $normal;
                                line-height: $line-height;
                                font-family: $poppins;
                                font-size: 30px;
                                font-weight: $medium;
                            }
                            h6{
                                color: $white;
                                font-style: $normal;
                                line-height: $line-height;
                                font-family: $poppins;
                                font-size: 14px;
                                font-weight: $medium;
                            }
                        }
                    }
                }
            }
            
        }
    }     
}

/* our */ 
#our{
    padding: 100px 0;
    .container{
        h2{
            color: $siyah;
            font-style: $normal;
            line-height: $line-height;
            font-family: $poppins;
            font-size: $px50;
            font-weight: $medium;
            text-align: $center;
        }
        h6{
            color: #241B1B;
            font-style: $normal;
            line-height: $line-height;
            font-family: $poppins;
            font-size: 14px;
            font-weight: 400;
            text-align: $center;
            margin: 15px 0;
        }
        .row{
            .col-md-6{
                p{
                    color: #241B1B;
                    font-style: $normal;
                    line-height: $line-height;
                    font-family: $poppins;
                    font-size: 16px;
                    font-weight: 500;
                }
                img{
                    cursor: pointer;
                }
                button{                    
                    outline: $none;
                    width: 180px;
                    height: 60px;
                    background-color: $white;
                    border-radius: 16px;
                    border: 1px solid #333697;
                    color: $siyah;
                    font-style: $normal;
                    line-height: $line-height;
                    font-family: $poppins;                        
                    font-weight: $medium;
                    font-size: 14px;
                    transition: 0.5s;
                    &:hover{                           
                        background-color: $siyah;
                        color: $white;   
                        border: $none;                        
                    }
                }
            }
        }
    }
}

/* Port */ 
#port{
    padding: 100px 0;
    .container{
        h6{
            line-height: $line-height;
            font-style: $normal;
            color: #333697;
            font-family: roboto, sans-serif;
            font-weight: $medium;
            font-size: 24px;
        }
        button{
            width: 120px;
            height: 60px;
            background-color: #F3F3F3;
            border: 1px solid #F3F3F3;
            outline: $none;
            color: #797979;
            line-height: $line-height;
            font-style: $normal;
            font-family: $poppins;
            font-weight: $medium;
            font-size: 20px;
        }
        h2{
            line-height: $line-height;
            color: $siyah;
            font-stretch: $normal;
            font-family: roboto, sans-serif;
            font-weight: $medium;
            font-size: $px50;
        }
        img{
            cursor: pointer;
        }
    }
}

/* Client */
#client{
    .container{
        .enes{
            background-color: #EFEFFE;
            padding: 30px;   
            -webkit-box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.16);
            -moz-box-shadow:    3px 0px 6px 0px rgba(0, 0, 0, 0.16);
            box-shadow:         3px 0px 6px 0px rgba(0, 0, 0, 0.16);   
            div{
                margin: 30px;
                i{
                    color: #FFF706;
                    font-size: 20px;                   
                }
                h4{
                    margin-top: 30px;
                    color: #222D39!important;
                    font-family: $poppins;
                    line-height: $line-height;
                    font-style: $normal;                 
                    font-weight: 400;
                    font-size: 18px;
                }
                h5{
                    color: $siyah;                    
                    line-height: $line-height;
                    font-style: $normal;
                    font-family: roboto, sans-serif;       
                    font-size: 18px;
                    font-weight: $medium;
                }
                h6{
                    color: $siyah;
                    font-style: $normal;
                    line-height: $line-height;
                    font-family: roboto, sans-serif;       
                    font-size: 14px;
                    font-weight: $medium;
                    a{
                        color: #333697!important;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }      
        }
        .d-flex{
            img{
                margin-right: 30px;
            }
            div{
                h2{
                    color: $siyah;
                    line-height: $line-height;    
                    font-style: $normal;
                    font-family: roboto, sans-serif;
                    font-weight: $medium;
                    font-size: $px50;               
                }
                p{
                    color: #707070;
                    line-height: $line-height;
                    font-style: $normal;
                    font-family: roboto, sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    width: 80%;
                }
                button{
                    width: 250px;
                    height: 70px;
                    background-color: #F3F3F3;
                    border-radius: 16px;
                    outline: $none;
                    color: #707070;
                    line-height: $line-height;
                    font-style: $normal;
                    font-family: $poppins;
                    font-weight: $medium;
                    font-size: 18px;
                    transition: 0.5s;
                    &:hover{
                        background-color: $siyah;
                        color: $white;
                    }
                }
            }

        }
    }
}

/* Contact */
#contact{
    padding: 100px 0;
    .contact-box{
        background-color: #333697;
        border-radius: 16px;
        height: 200px;
        align-items: center;
        padding: 30px;
        div{
            h6{
                color: $white;
                font-style: $normal;
                line-height: $line-height;
                font-family: $poppins;
                font-weight: $medium;
                font-size: 24px;
            }
            p{
                color: $white;
                font-style: $normal;
                line-height: $line-height;
                font-family: open, sans-serif;
                font-weight: 400;
                font-size: 18px;
            }
            input{
                width: 300px;
                height: 50px;
                border-radius: 40px;
                padding: 16px;
                cursor: $pointer;
                position: relative;
                color: #7C7C7C;
                line-height: $line-height;
                font-style: $normal;
                font-family: $poppins;
                font-weight: 400;
                font-size: 12px;
            }
            button{
                position: absolute;
                left: 60%;
                top: 15%;
                height: 30px;
                width: 100px;
                outline: $none;
                border: none;
                background-color: #333697;
                border-radius: 16px;
                color: white;
                line-height: $line-height;
                font-style: $normal;
                font-family: $poppins;
                font-weight: 400;
                font-size: 12px;
            }
        }
    }
}

/* Footer */
footer{
    padding: 100px 0;
    background-color: #EBEBF8;
    .container{
        .row{
            .d-flex{
                div{
                    p{
                        color: #677294;
                        line-height: $line-height;
                        font-style: $normal;
                        font-family: $poppins;
                        font-size: 12px;
                        font-weight: 400;
                    }
                    ul{
                        float: right;
                        li{
                            display: inline-block;                            
                            a{
                                color: #677294;
                                line-height: $line-height;
                                font-style: $normal;
                                font-family: $poppins;
                                font-size: 12px;
                                font-weight: 400;
                                padding: 0 20px;
                                transition: 0.5s;
                                &:hover{
                                    color: $siyah;
                                    text-decoration: $none;
                                }
                            }
                        }
                    }
                }
            }
            .col-md-3{
                h6{
                    color: #000;
                    line-height: $line-height;
                    font-style: $normal;
                    font-family: $poppins;
                    font-weight: 600;
                    font-size: 18px;
                }
                p{
                    color: #8A8A8A;
                    line-height: $line-height;
                    font-style: normal;
                    font-family: $poppins;
                    font-weight: $medium;
                    font-size: 16px;
                    transition: 0.5s;                    
                }
                ul{
                    margin:0;
                    padding: 0;
                    list-style: $none;
                    li{
                        a{
                            color: #8A8A8A;
                            line-height: $line-height;
                            font-style: normal;
                            font-family: $poppins;
                            font-weight: $medium;
                            font-size: 16px;
                            transition: 0.5s;
                            &:hover{
                                text-decoration: $none;
                                color: $siyah;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 575.98px) {}


@media (max-width: 767.98px) {#hero{
    img{
        display: none;
    }
    #contact{
        display: none!important;      
    }
}}


@media (max-width: 991.98px) {#hero{
    h1{
        font-size: 24px!important;
    }
    #client{
        .container{
            .d-flex{
                div{
                    h2{
                        font-size: 40px!important;
                    }
                }
            }

        }
    }   
}}

@media (max-width: 1199.98px) {}